# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
.env*/
.venv*/

# Jupyter
.ipynb_checkpoints/

# Data and outputs
/data/
!/data/
!/data/README.md
!/data/raw/
data/raw/*
!data/raw/online_casino_games_sample.csv
outputs/

# OS files
.DS_Store
Thumbs.db

# Tools
*.log
